@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.mampel-container .TitleText {
  font: bold 300% Consolas, Monaco, monospace;
  border-right: 0.1em solid black;
  color: rgb(255, 255, 255);
  width: 21ch; /* 16.5em을 덮어쓰므로 21ch만 남깁니다. */
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;

  /* animation 속성에 모든 브라우저 접두사 추가 */
  -webkit-animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
  -moz-animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
  -ms-animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
  -o-animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
  animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
}

/* 첫 번째 문장에는 지연 시간을 주지 않습니다. */
.mampel-container .TitleText:nth-child(1) {
  animation: typing 2s steps(21, end) forwards, blink-caret 0.5s step-end infinite alternate;
}

/* 두 번째 문장은 첫 번째 문장의 애니메이션 후에 시작하므로 2초의 지연을 줍니다. */
.mampel-container .TitleText:nth-child(2) {
  animation: typing 2s steps(21, end) forwards, blink-caret 0.5s step-end infinite alternate;
  animation-delay: 2s; /* 첫 번째 애니메이션이 끝난 후 시작 */
}

/* 세 번째 문장은 첫 번째와 두 번째 문장의 애니메이션 후에 시작하므로 4초의 지연을 줍니다. */
.mampel-container .TitleText:nth-child(3) {
  animation: typing 2s steps(21, end) forwards, blink-caret 0.5s step-end infinite alternate;
  animation-delay: 4s; /* 이전 두 애니메이션이 끝난 후 시작 */
}
/* .TitleText{
    position: fixed;
} */

/* 
/* 브라우저 창이 1200px 이하일 때 */
@media (max-width: 1200px) {
  .mampel-container .TitleText {
    font-size: 250%;
  }
}

/* 브라우저 창이 992px 이하일 때 */
@media (max-width: 992px) {
  .mampel-container .TitleText {
    font-size: 200%;
  }
}

/* 브라우저 창이 768px 이하일 때 */
@media (max-width: 768px) {
  .mampel-container .TitleText {
    font-size: 150%;
  }
}

/* 브라우저 창이 576px 이하일 때 */
@media (max-width: 576px) {
  .mampel-container .TitleText {
    font-size: 100%;
  }
}
